anyio
asttokens
attrs
backcall
bcrypt
beautifulsoup4
blinker
brewer2mpl
certifi
cffi
charset-normalizer
charts
click
cloudpickle
cloudscraper
colorama
comm
comtypes
contourpy
crypto
cycler
databases
dcard-spider
debugpy
decorator
dnspython
executing
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
fonttools
fsspec
greenlet
h11
html5lib
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
itsdangerous
jedi
jieba
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mpmath
mysqlclient
Naked
nest-asyncio
networkx
numpy
opencv-python
orm
outcome
packaging
panda
pandas
parso
pickleshare
pillow
pip
platformdirs
plot
prompt_toolkit
psutil
pure_eval
pycparser
pycryptodome
pygame
Pygments
pymango
pymongo
PyMySQL
pyparsing
pypiwin32
PySocks
pytesseract
python-dateutil
pyttsx3
pytz
pywin32
PyYAML
pyzmq
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
seaborn
selenium
setuptools
shellescape
six
sniffio
snownlp
sortedcontainers
soupsieve
spyder-kernels
SQLAlchemy
stack-data
style
sympy
threadpoolctl
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
transforms
trio
trio-websocket
typesystem
typing
typing_extensions
tzdata
update
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
wheel
wordcloud
wsproto
xmltodict
